.centerall {
	color: grey;
	text-align: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
body {
	background: #e2e2e2;
	cursor: url(cursor/arrow.cur), default;
    	font-family: 'YourFontName';
}
.af {
	/* background: white; */
	color: black;
	text-decoration: none;
}
.afselected {
	color: #f00;
	text-decoration: none;
}
.downloadlink {
	color: black;
@font-face {
    	font-family: 'MinecraftRus';
   	 src: url('styles/font/minecraft.ttf');
}
